.result-box {
 background-color: #fff;
 width: 23rem;
 height: 4rem;
 display: flex;
 justify-content: center;
 align-items: center;
 box-shadow: 0px 0px 1rem -10px #656565;
 cursor: pointer;
 transition: all 0.4s ease-in-out 0.1s;
 overflow-x: auto;
}
.result-box:hover{
opacity: 0.7;
}
.result-box:active{
 transform: scale(0.9);
 font-weight: 700;
 border-radius: 1rem;
}

p{
 font-size: 1.1rem;
 font-family: system-ui, -apple-system, BlinkMacSystemFont;
}